* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	margin-top: 100px;
}

.first-block {
	width: 500px;
	height: 700px;
	position: relative;
}

.first-block img {
	width: 500px;
	height: 700px;
}

.second-block {
	position: absolute;
	top: 0;
	text-align: center;
	width: 500px;
	height: 700px;
	display: none;
	z-index: 1;
}

.second-block h1 {
	padding-top: 350px;
}

.first-block:hover .second-block {
	display: block;
	background-color: transparent;
	border: 1px solid #000;
}

.first-block:hover .third-block {
	display: block;
	background-color: #fff;
	opacity: 0.5;
}

.third-block {
	position: absolute;
	top: 0;
	text-align: center;
	width: 500px;
	height: 700px;
	background-color: #fff;
	display: none;
}

.container2 {
	width: 100%;
	max-width: 1000px;
	margin: 120px auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}

.block {
	width: 100px;
	height: 50px;
	border: 1px solid #000;
	transition: all 1s linear;
}

.block_1 {
	background-color: purple;
}

.block_2 {
	background-color: red;
}

.block_3 {
	background-color: green;
}

.block_1:hover {
	transform: translate(100px, -65px) scale(1.5) rotate(360deg);
}

.block_2:hover {
	transform: translate(0, -65px) scale(1.5) rotate(360deg);
}

.block_3:hover {
	transform: translate(-100px, -65px) scale(1.5) rotate(360deg);
}

.block2 {
	width: 500px;
	height: 700px;
	border: 1px solid #000;
	position: relative;
	transition: all 1s linear;
	overflow: hidden;
}

.block2::before {
	content: "";
	width: 500px;
	height: 700px;
	background: url(../img/tohvRMGscuM.jpg) no-repeat center / cover;
	position: absolute;
	top: -700px;
	transition: all 1s linear;
}

.block2:hover::before {
	top: 0;
}

.block3 {
	
	
}

.dop__block3 {
	width: 200px;
	height: 114px;
	background-color: purple;
}

.dop__block31 {
	animation: firstAnimation 2s linear 0s 1 normal;
}

.dop__block32 {
	animation: secondAnimation 2s linear 0s 1 normal;
}

.dop__block33 {
	animation: thirdAnimation 2s linear 0s 1 normal;
}

.dop__block31:hover {
	animation-play-state: paused;
}

.dop__block32:hover {
	animation-play-state: paused;
}

.dop__block33:hover {
	animation-play-state: paused;
}

@keyframes firstAnimation {
	0% {
		transform: rotate(360deg);
	}
	50% {
		transform: rotate(60deg);
	}
	60% {
		transform: rotate(60deg);
	}
	70% {
		transform: rotate(60deg);
	}
	80% {
		transform: rotate(60deg);
	}
	90% {
		transform: rotate(60deg);
	}
	100% {
		width: 400px;
		height: 228px;
		transform: rotate(60deg);
	}
}

@keyframes secondAnimation {
	0% {
		transform: rotate(360deg);
	}
	50% {
		transform: translateY(-114px) rotate(-60deg);
	}
	60% {
		transform: translateY(-114px) rotate(-60deg);
	}
	70% {
		transform: translateY(-228px) rotate(-60deg);
	}
	80% {
		transform: translateY(-228px) rotate(-60deg);
	}
	90% {
		transform: translateY(-228px) rotate(-60deg);
	}
	100% {
		width: 400px;
		height: 228px;
		transform: translateY(-228px) rotate(-60deg);
	}
}

@keyframes thirdAnimation {
	0% {
		transform: rotate(360deg);
	}
	50% {
		transform: translateY(-228px);
	}
	60% {
		transform: translateY(-228px);
	}
	70% {
		transform: translateY(-456px);
	}
	80% {
		transform: translateY(-456px);
	}
	90% {
		transform: translateY(-456px);
	}
	100% {
		width: 400px;
		height: 228px;
		transform: translateY(-456px);
	}
}