* {
	margin: 0;
	padding: 0;
}

#slider {
	width: 800px;
	height: 480px;
	border: 5px solid #000;
	overflow: hidden;
	margin: 0 auto;
	margin-top: 60px;	
}

#contant {
	width: 4800px;
	position: relative;	
	left: 0;
	transition: all ease 1s;
}

#contant img {
	float: left;
}

#contant::after {
	content: "";
	display: block;	
	clear: both;
}

.button {
	width: 100px;
	text-align: center;
	margin: 0 auto;
	margin-top: 10px;
}

.button a {
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 5px;
	background-color: grey;
}

.button a:hover {
	background-color: #00f3ff;
}

#test {
	width: 150px;
	height: 150px;
	background-color: green;
	margin: 30px;
}