* {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: #fff;
}

li {
	list-style-type: none;
}

header {
	width: 100%;
	background-color: #000;
	
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}

nav {
	width: 500px;
	padding-top: 20px;
}

ul {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.a {
	width: 100px;
	height: 40px;
	display: inline-block;
	background-color: purple;
	text-align: center;
	line-height: 40px;
	text-transform: uppercase;
	border-radius: 10px; 
}

.div {
	padding-top: 20px;
	display: none;
}

.main {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}


@media screen and (max-width: 900px) {
	nav {
		display: none;
		width: 100px;
	}

	.div {
		display: block;
		height: 29px;
	}

	header {
		display: flex;
		justify-content: center;
	}

	.main {
		max-width: 100px;
		text-align: center;
		display: block;
	}
}